<h4>welcome to Bookers</h4>

<%= link_to "Log in", user_session_path, method: :post %>
<%= link_to "Sign up", new_user_session_path, method: :get %>
<%= link_to "logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
